.newslist{
    display: grid;
    grid-template-columns: 100%;
    padding:0 12% 0 10%;
    margin-top: 30px;
}

.select{
    width: 220px;
    height: 32px;
    margin:25px 0 0 20%;
    border-radius: 4px;
    background-color: #fff;
}

.bttnload{
    margin: 0 30%;
    margin-bottom: 35px;
    width: 150px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #d6d6d6;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #606060;
    cursor: pointer;
}

.bttnload:active{
    border: solid 1px #1797ff;
    background-color: white;
    color: #1797ff;
}

.load{
    font-size: 30px;
    margin: 90px;
    font-weight: 500;
    color: #606060;
}

.error{
    padding-left:15px;
    font-size: 30px;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: #606060;
}

.nofavs{
    margin: 100px;
    font-size: 30px;
    font-weight: 500;
    color: #606060;
}

.favscont{
    margin-top: 5%;
}

@media only screen and (min-width: 600px) {
    .newslist{
        display: grid;
        grid-template-columns: 50% auto;
        padding:0 10% 0 10%;
        margin-top: 30px;
    }
    .load{
        margin: 100px 90%;
        font-size: 30px;
        font-weight: 500;
        color: #606060;
    }
    .bttnload{
        margin: 0 45%;
        margin-bottom: 35px;
        width: 150px;
        height: 40px;
        border-radius: 2px;
        border: solid 1px #d6d6d6;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #606060;
        cursor: pointer;
    }
    .select{
        margin:25px 0 0 11%;
        border-radius: 4px;
        background-color: #fff;
    }
  }