.App{
  
  height: 100%;
  min-height: 100vh;
  background-color: #fcfcfc;    
}
.header{
  margin: 0 0 70px;
  padding: 44px 100px 42px 10%;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.imgheader{
    width: 208px;
  height: 28px;
  object-fit: contain;
  font-family: Baskerville;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3b3b3b;
}
.bttncontainer{
    display:flex ;
    padding-top: 30px;
    justify-content: center;
}

.bttns{
    width: 98px;
  height: 31px;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  color: #606060;
  cursor: pointer;
}

.bttnsactive{
  width: 98px;
  height: 31px;
  border-radius: 2px;
  border: solid 1px #1797ff;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  background-color: white;
  color: #1797ff;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .bttnsactive{
    font-size: 16px;
  }
  .bttns{
    font-size: 16px;
  }
}